/* Adjust font sizes based on screen width */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .head {
    font-size: 1.5em; /* Adjust as needed */
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  .heading {
    z-index: +3;
    width: 100%;
    height: fit-content;
    padding: 2px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(114, 113, 112);
    color: rgb(255, 255, 255);
    margin: 0%;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
  .head {
    font-size: 2em; /* Adjust as needed */
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  .heading {
    z-index: +3;
    width: 100%;
    height: fit-content;
    padding: 5px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(114, 113, 112);
    color: rgb(255, 255, 255);
    margin: 0%;
  }
}

@media screen and (min-width: 801px) {
  .head {
    font-size: 2.5em; /* Adjust as needed */
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  .heading {
    z-index: +3;
    width: 100%;
    height: fit-content;
    padding: 10px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(114, 113, 112);
    color: rgb(255, 255, 255);
    margin: 0%;
  }
}
