.main-container-signup {
  display: flex;
  align-items: center;
  padding: 15px;
}

.heading-signup {
  color: rgb(55, 55, 55);
  width: 20%;
  font-weight: bold;
}

.input-data-line-signup {
  border: none;
  background-color: rgb(232, 232, 232);
  outline: none;
  width: 80%;
  padding: 8px 10px;
  border-radius: 15px;
}

.all-content {
  min-height: 20rem;
  width: 40rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  border: 0.5px solid #ccc;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn:focus {
  outline: none;
}
